name: Publish Cypress Report

on:
  workflow_run:
    workflows: ["Cypress E2E Tests"]
    types:
      - completed

jobs:
  publish-report:
    runs-on: ubuntu-latest

    steps:
      - name: Init empty repo if needed
        run: |
          if git ls-remote https://github.com/TarlanZiyadov/Cypress_e2e_TarlanZiyadov_Report.git | grep -q refs/heads/main; then
            echo "Branch main exists. Skipping init."
          else
            echo "Branch main does not exist. Initializing empty repo..."
            mkdir -p Cypress_e2e_TarlanZiyadov_Report
            cd Cypress_e2e_TarlanZiyadov_Report
            git init
            git remote add origin https://github.com/TarlanZiyadov/Cypress_e2e_TarlanZiyadov_Report.git
            git checkout -b main
            date | base64 > random
            git add .
            git commit -m"init repo"
            git push -u origin main
          fi

      - name: Checkout target repo
        uses: actions/checkout@v4
        with:
          repository: TarlanZiyadov/Cypress_e2e_TarlanZiyadov_Report
          token: ${{ secrets.CYPRESS_E2E_TARLANZIYADOV_TOKEN }}
          path: Cypress_e2e_TarlanZiyadov_Report

      - name: Checkout source repo (Cypress results)
        uses: actions/checkout@v4
        with:
          repository: TarlanZiyadov/Cypress_e2e_TarlanZiyadov
          token: ${{ secrets.CYPRESS_E2E_TARLANZIYADOV_TOKEN }}
          path: Cypress_e2e_TarlanZiyadov

      - name: Copy report to repo root
        run: |
          cd Cypress_e2e_TarlanZiyadov_Report
          rm -rf *
          cp -r ../Cypress_e2e_TarlanZiyadov/cypress/reports/* .

      - name: Commit and push
        run: |
          cd Cypress_e2e_TarlanZiyadov_Report
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git commit -m "Update Cypress report from latest run" || echo "No changes"
          git push
