name: Cypress E2E Tests

on:
  push:
  workflow_dispatch:

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Run initCommonState
        run: npm run initCommonState

      - name: Run Cypress tests
        run: |
          npm run test 2>&1 | tee output.log

          if grep -E "✖" output.log; then
            echo "Found ✖ in logs. Tests failed."
            exit 1
          elif grep -q "Some test suites likely terminated" output.log; then
            echo "Ignoring known issue: test suite count mismatch"
            exit 0
          fi

      - name: Generate report
        if: always()
        run: npm run posttest

      - name: Save report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: mochawesome-report
          path: cypress/reports/

  publish-report:
    needs: cypress-run
    runs-on: ubuntu-latest

    steps:
      - name: Init empty repo if needed
          run: |
            if git ls-remote https://github.com/TarlanZiyadov/Cypress_e2e_TarlanZiyadov_Report.git | grep -q refs/heads/main; then
              echo "Branch main exists. Skipping init."
            else
              echo "Branch main does not exist. Initializing empty repo..."
              mkdir -p Cypress_e2e_TarlanZiyadov_Report
              cd Cypress_e2e_TarlanZiyadov_Report
              git init
              git remote add origin https://github.com/TarlanZiyadov/Cypress_e2e_TarlanZiyadov_Report.git
              git checkout -b main
              git config user.name "github-actions"
              git config user.email "github-actions@github.com"
              date | base64 > random
              git add .
              git commit -m"init repo"
              git remote set-url origin https://x-access-token:${{ secrets.CYPRESS_E2E_TARLANZIYADOV_TOKEN }}@github.com/TarlanZiyadov/Cypress_e2e_TarlanZiyadov_Report.git
              git push -u origin main
            fi

      - name: Checkout target repo
        uses: actions/checkout@v4
        with:
          repository: TarlanZiyadov/Cypress_e2e_TarlanZiyadov_Report
          token: ${{ secrets.CYPRESS_E2E_TARLANZIYADOV_TOKEN }}
          path: Cypress_e2e_TarlanZiyadov_Report

      - name: Download Cypress report
        uses: actions/download-artifact@v4
        with:
          name: mochawesome-report
          path: report

      - name: Copy report to target repo
        run: |
          cd Cypress_e2e_TarlanZiyadov_Report
          rm -rf *
          cp -r ../report/* .

      - name: Commit and push
        run: |
          cd Cypress_e2e_TarlanZiyadov_Report
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git commit -m "Update Cypress report from $GITHUB_SHA" || echo "No changes"
          git push
